{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">

        <div class="ui padded raised segment">
            <h3>You need an admin to confirm your account before continuing.</h3>

            <p>Before you have full access to the Netter Center Database, your account must be
                confirmed by an administrator at the Netter Center.</p>

            <div class="ui divider"></div>

            <p>Please contact ritaa@upenn.edu if you do not receive a quick confirmation.</p>
        </div>
    </div>
{% endblock %}